body
{

    background-color: #ffffff;
    background-size: cover;
    font-family: Times;
    margin: 5px;
    font-size: medium;
    color: #0b6311;
}

.login
{

}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

footer
{
    clear: left;
    width: 99%;
    height: auto;
    margin-bottom: 8px;
    text-align: center;
   margin-top: 5px;
}
